.about-us {
  display: grid;

  @include maintain-column-count;

  &__section-title {
    margin-bottom: 32px;
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 23px;
    line-height: 1.4;
    letter-spacing: 0;
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }
}
