.contact-form {
  display: grid;

  &__input {
    outline: none;
    border: none;
    display: block;
    padding: 14px 16px;

    margin-bottom: 16px;
    background-color: #F8F8FA;
    color: #292929;
    border-radius: 40px;

    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;

    &--textarea {
      resize: none;
      border-radius: 16px;
      min-height: 148px;
      margin-bottom: 32px;
    }

    &::placeholder {
      color: #7E7E83;
      font-family: Poppins;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0px;
    }

    &:hover {
      outline: 1px solid #D5D7DE;
      outline-offset: -1px;

      &::placeholder {
        color: #292929;
      }
    }
  }

  &__send-button {
    width: 100%;
  }
}