.contact-details {
  display: grid;
  height: fit-content;
  gap: 24px;

  &__contact-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0;
    margin-bottom: 8px;
  }

  &__contact-link {
    text-decoration: none;
    color: #b3b3b3;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;

    &:hover {
      color: #fff;
      cursor: pointer;
    }
  }
}
