.details {
  &__info {
    grid-column: 1 / -1;

    @include onDesktop {
      grid-column: span 8;
    }
  }

  &__link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    @include onTablet {
      grid-column: span 4;
    }

    @include onDesktop {
      grid-column: span 8;
    }

    &--square {
      height: 0%;
      width: 100%;
      padding-bottom: 100%;

      @include onTablet {
        grid-column: span 2;
      }

      @include onDesktop {
        grid-column: span 4;
      }
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
    @include hover(transform, scale(1.05));

  }

  &__title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0px;
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
  }

  &__section {
    display: grid;
    @include maintainColumnCount;
    row-gap: 16px;
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 48px;
    }
  }

  &__explore-button {
    max-width: 278px;

    @include onTablet {
      max-width: 392px;
    }
    @include onDesktop {
      max-width: 324px;
    }
  }
}
