footer {
  background-size: cover;
  z-index: -1;
  position: sticky;
  bottom: 0;

  width: 100%;
  aspect-ratio: 320 / 200;
  background-image: url('../../images/footer-mobile.png');
  background-position: center;

  @include on-tablet {
    aspect-ratio: 744 / 480;
    background-image: url('../../images/footer-tablet.png');
  }

  @include on-desktop {
    aspect-ratio: 1260 / 555;
    background-image: url('../../images/footer-desktop.png');
  }
}
