.icon {
  display: block;
  margin: 0;
  width: 24px;
  height: 24px;
  background-size: cover;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    position: relative;
    background-image: url(../../images/icons/Icon-Phone-call.svg);

    @include on-tablet {
      &::before {
        position: absolute;
        display: block;
        align-content: center;
        width: max-content;
        height: 100%;
        right: 52px;
        content: '+1 234 5555-55-55';
        transform: scaleY(0);
        transition: transform 0.3s;

        font-weight: 700;
        font-style: Bold;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 2px;
        text-align: right;
      }

      &:hover::before {
        transform: scaleY(1);
      }
    }
  }

  &--menu {
    background-image: url(../../images/icons/Icon-Burger-menu.svg);

    &:hover {
      background-image: url(../../images/icons/Icon-Burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../../images/icons/Icon-Close.svg);
  }
}
