.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: #1d1d1d;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    vertical-align: middle;
    text-transform: uppercase;

    &::after {
      display: block;
      content: '';
      position: absolute;
      bottom: -8px;
      height: 1px;
      background-color: #000;
      width: 100%;
      transition: transform 0.2s;
      transform: scaleX(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }
}
