.product-card {
  &__link {
    display: block;
    margin-bottom: 32px;
  }

  &__img {
    width: 100%;

    @include hover(transform, scale(1.1));
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0;
    margin-bottom: 8px;
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0;
    margin-bottom: 16px;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0;
  }

  &__price::before {
    content: '$';
  }
}
