@mixin onTablet {
  @media (min-width: #{$tablet-min-width}) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: #{$desktop-min-width}) {
    @content;
  }
}

@mixin contentPaddingInline() {
  width: 100%;
  box-sizing: border-box;
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 72px;
    max-width: 744px;
    margin-inline: auto;
  }

  @include onDesktop {
    max-width: 1260px;
    padding-inline: 120px;
    margin-inline: auto;
  }
}

@mixin maintainColumnCount {
    --columns: 2;
    column-gap: 20px;
    grid-template-columns: repeat(var(--columns), 1fr);

    @include onTablet {
      --columns: 6;
      column-gap: 24px;
    }

    @include onDesktop {
      --columns: 12;
      column-gap: 24px;
    }
}

.container {
  @include contentPaddingInline;
}

@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;

  &:hover {
    #{$property}: $toValue;
  }
}
